.control-container .select-icon {
  width: var(--24px);
  height: var(--24px);
}

.control-container .select-icon_active {
  transform: rotate(180deg);
}

.select-container {
  border-radius: 4px;

  cursor: pointer;
}

.select-container:focus,
.dropdown:focus,
.search-bar-wrapper:focus-within,
.dropdown__item__text:focus {
  outline: 1px solid var(--accent-primary);
}

.control-container_error.select-container:focus {
  outline: none;
}

/* Выпадающий список и его элементы */

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  max-height: 193px;
  padding: 8px 12px;
  border: 1px solid var(--base-stroke);
  border-radius: 8px;

  font-size: var(--14px);

  background: var(--base-secondary);
  box-shadow: 0 8px 32px 0 rgba(var(--white), .16);

  cursor: pointer;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdown::after {
  content: '';
  position: absolute;
  top: var(--scrollbar-position, 8px);
  right: 0;

  width: 4px;
  height: 64px;
  border-radius: 10px;

  background-color: var(--slate-gray);
}

.dropdown_without-scrolling::after {
  display: none;
}

.search-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  padding: 8px 12px 8px 44px;
  border: 1px solid #333535;
  border-radius: 5px;

  background-color: #2a2b31;
}

.search-bar-icon {
  position: absolute;
  left: 16px;

  width: var(--20px);
  height: var(--20px);
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;

  color: var(--white);
  background-color: #2a2b31;
}

.search-bar::placeholder {
  color: var(--gray);
}

.dropdown__item-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 10px 4px;
}

.dropdown__item__text {
  flex-shrink: 999;

  border-radius: 4px;
}
