.control-container .input-icon {
  width: var(--20px);
  height: var(--20px);
}

.tooltip-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  margin-left: 6px;

  cursor: pointer;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  position: absolute;
  top: 125%;
  left: -10%;
  z-index: 1;

  width: 266px;
  margin-left: 0;
  padding: 4px 8px;
  border-radius: 4px;

  font-size: var(--14px);

  color: var(--white);
  background-color: var(--steel-gray);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12);

  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.tooltip-text::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 5%;

  margin-left: -5px;
  border-width: 5px;

  border-style: solid;
  border-color: transparent transparent var(--steel-gray) transparent;
}

input[type='range'].input-slider {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2px;

  background-color: var(--accent-primary);

  -webkit-appearance: none;
}

input[type='range'].input-slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: var(--accent-primary);

  cursor: ew-resize;

  -webkit-appearance: none;
}

input[type='range'].input-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: var(--accent-primary);

  cursor: ew-resize;

  -webkit-appearance: none;
}

input[type='range'].input-slider::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: var(--accent-primary);

  cursor: ew-resize;

  -webkit-appearance: none;
}

input[type='range'].input-slider::after {
  content: '';
  position: relative;
  right: 0;

  width: 50px;
  height: 2px;

  background-color: white;
}

.min-max-description {
  display: flex;
  justify-content: space-between;

  font-size: var(--14px);
}
