.main {
  display: flex;
  flex-direction: column;
  gap: 44px;

  margin: 120px 155px 40px 155px;
}

.title {
  font-size: var(--48px);
  font-family: 'Roboto', sans-serif;
}

.control-container .input-icon {
  width: var(--20px);
  height: var(--20px);
}
