html {
  /* палитра цветов */
  --yellow: #fbe54d;
  --orange: #e76143;
  --white: #fff;
  --gray: #848484;
  --slate-gray: #3f444d;
  --steel-gray: #41434e;
  --space-gray: #333535;
  --dark-gray: #2d2d2d;
  --charcoal-gray: #2a2b31;
  --charcoal: #242529;
  --black: #161616;
}
